@tailwind base;

body {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #726A5F;
    height: 100%;
    background-color: #FFFFF4;
}

h1 {
    @apply text-4xl;
}

@tailwind components;
@tailwind utilities;